:root {
  --bodycolor: black;
  --headingcolors: gray;
  --buttoncolorhover: #ff7a59;
  --buttonhover: blue;
  --checkbox-size: 28px;
  --font-color: #555;
}
.pictures4mission {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.img {
  display: block;
  width: 100%;
}
.imagez {
  display: block;
  width: 100%;
  max-width: min-content;
  justify-self: center;
}
.skatefooter {
  display: flex;
  flex-direction: center;
  justify-content: center;
  font-size: 15px;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 16 px;
  line-height: 1.5;
  background-color: #eee;
}
h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: gray;
  line-height: 1.1;
  margin-top: 25px;
  margin-bottom: 25px;
}
.headings {
  font-size: 20px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  color: gray;
  line-height: 1.1;
  margin-top: 25px;
  margin-bottom: 25px;
}
a:hover {
  color: gray;
  box-shadow: 0 0 0 2px black;
  transition: 200ms box-shadow ease-in-out;
}
.button {
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  overflow: hidden;
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background: #fff;
}
.button:hover {
  color: blue;
  border: blue solid 1px;
  background: #fff;
  transition: 300ms color ease-in, 300ms border ease-in;
  cursor: pointer;
}
a {
  text-decoration: none;
}
main {
  align-self: center;

  padding: 0 1rem;
  max-width: 60rem;
  margin-top: 25px;
  margin-bottom: 25px;
}
svg {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
}
#contactmee {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#img1 {
  height: 20px;
  width: 20px;
  padding-bottom: 1rem;
}

.image_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms ease;
}
.image_overlay:hover {
  opacity: 1;
}
img {
  display: block;
  width: 100%;
  transition: transform 0.7s ease-in-out;
}
.bio1 {
  display: flex;
  justify-content: center;
}
.missionbody,
p {
  font-size: 18px;
}
.bio {
  display: flex;
  justify-content: center;
}
.article1 {
  padding-top: 4rem;
}
a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.pannel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.pannel h1 h2 {
  margin-top: 0;
}

.pannel .image-wrapper {
  order: -1;
}
.pannel .left {
}
/* CSS for SVG */
.menu-show nav {
  transform: translateX(0);
}

.main-menu .menu-icon {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.main-menu svg {
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
  padding: 12px;
}

.main-menu svg line {
  transform-origin: center;
  transition: transform 200ms ease;
}

.main-menu svg line:first-child {
  transform: translateY(8px);
}

.main-menu svg line:last-child {
  transform: translateY(-8px);
}

.menu-show .menu-icon {
  background-color: white;
}

.menu-show svg line {
  stroke: black;
  stroke-width: 5px;
}

.menu-show svg line:first-child {
  transform: rotate(135deg);
}

.menu-show svg line:last-child {
  transform: rotate(-135deg);
}
/* CLOSED CSS FOR SVG */

/* CSS FOR MENU */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: white;
  transform: translateX(-100vw);
  transition: transform 400ms ease;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 80rem;
}

nav a {
  display: block;
  padding: 1rem;
  font-size: 1.4rem;
  color: black;
}

nav a:not([href]) {
  color: silver;
}

nav a[href]:hover {
  color: gray;
}

/* CSS FOR MENU CLOSED */

.articlebutton {
  margin-top: 4rem;
}
.articlebutton1 {
  margin-top: 4rem;
}
.accomplishments {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contactmeh {
  padding-bottom: 5rem;
}
.intrestss {
  padding-bottom: 5rem;
}
aside {
  position: relative;
  background-color: blanchedalmond;
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
}
.cards {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 0 1rem;
}

.cards p {
  margin: 0;
}
.card {
  position: relative;
  border: black solid;
}
.card:hover {
  border: blue solid;
  transition: 500ms border ease-in;
}

.cards .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms ease;
}
figure {
  width: 100%;
  margin: 0;
}
.cards p {
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
}

.cards .overlay:hover {
  opacity: 0.5;
}
.card img {
  transition: transform 500ms;
}

.card:hover img {
  transform: scale(0.9);
}

.hero {
  position: relative;
}

.hero .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero {
  width: 100vw;
}
.hero p {
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif;
}
.hero .overlay:hover {
  opacity: 1;
}
.resumebutton {
  display: flex;
  justify-content: center;
}

#middle-text-cards {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
#footer-text {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.form {
  background-color: lightblue;
}

.loader {
  bottom: 30px;
  right: 45%;
  border-radius: 30%;
  width: 8rem;
  height: 8rem;
  border: 16px solid rgba(255, 255, 255, 0.4);
  border-left: 16px solid #ffffff;
  animation: load 1000ms infinite linear;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
.aboutpage {
  display: flex;
  justify-content: center;
}
figcaption {
  font-size: 10px;
}
.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.resumepdf {
  border: rgba(0, 0, 0, 0.6) solid 1px;
  width: 100%;
  height: 100%;
}
.downloadbutton {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.navul {
  display: flex;
  justify-content: center;
}
.links {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}
.missionbody {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 16 px;
  line-height: 1.5;
  background-color: #eee;
  padding-left: 4rem;
  padding-right: 4rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 2;
  grid-auto-flow: row;
}
section {
  margin: 0 1rem;
}
form {
  display: grid;
}

fieldset {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.8rem;
  border: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
legend {
  grid-column: 1 / span 2;
  margin-bottom: 1rem;
}
form > input,
textarea,
fieldset,
button {
  margin-bottom: 1.5rem;
}

button {
  justfiy-self: center;
}

input:hover,
input:focus {
  background-color: lightblue;
}
input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px black;
  outline: 1px solid gray;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid gray;
  position: relative;
}
input[type="checkbox"]::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 12px;
  border-bottom: 2px solid blue;
  border-right: 2px solid blue;
  margin: 2px 7px;
  opacity: 0;
}
input[type="checkbox"]:checked::after {
  transform: rotate(38deg);
  opacity: 1;
  transition: opacity 200ms;
}
.hidden {
  display: none;
}

readingmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bookreading {
  display: block;
  width: 100%;
  max-width: min-content;
  justify-self: center;
}
.readingwrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid;
  position: relative;
}
input[type="radio"] {
  border-radius: 50%;
}
input[type="radio"]::after {
  width: calc(var(--checkbox-size) - 6px);
  height: calc(var(--checkbox-size) - 6px);
  background-color: blue;
  border-radius: 50%;

  transform: scale(0);
  transition: transform 300ms;
}

input[type="radio"]:checked::after {
  transform: scale(1);
}
.form section img {
  min-width: 100px;
  max-width: 300px;
}
input[type="radio"]::after {
  content: "";
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}

@media (min-width: 500px) {
  form {
    grid-template-columns: max-content 1fr;
    grid-column-gap: 0.5rem;
  }
  form > label {
    justify-self: end;
  }
  label[for="haiku"] {
    justify-self: start;
  }
  fieldset,
  label[for="haiku"],
  textarea,
  button {
    grid-column-start: 2;
  }
  button {
    justify-self: start;
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Query */

@media (min-width: 600px) {
  .pannel {
    flex-direction: row;
    gap: 2 rem;
  }
  .pannel .text-wrapper1 {
    flex: 0 1 50%;
  }
  .pannel .image-wrapper {
    flex: 0 1 50%;
    order: 0;
  }
  .pannel h1 h2 {
    margin-top: 0;
  }
  .pannel .left {
    order: -1;
  }
  .main-menu .menu-icon {
    display: none;
  }
  .hero {
    margin-bottom: 0;
  }
  nav {
    position: static;
    display: block;
    transform: none;
    background-color: transparent;
    margin: 2rem 1.5rem 6rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;

    max-width: 80rem;
  }

  nav a {
    display: block;
    padding: 1rem;
    font-size: 1.4rem;
    color: black;
  }

  nav a:not([href]) {
    color: silver;
  }

  nav a[href]:hover {
    color: gray;
  }

  nav a[href]:hover::after {
    transform: scale(1);
    transform-origin: left;
  }
}
@media (min-width: 700px) {
  section {
    flex-direction: row;
    align-items: flex-start;
  }
  .form section img {
    flex: 0 1 30%;
  }
  .form section form {
    flex: 1 1 70%;
  }
}

@media (min-width: 400px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    padding-bottom: 2rem;
  }
  .card {
    flex: 1 1 40%;
  }
}

@media (min-width: 800px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
  }
}

@media (min-width: 1200px) {
  .cards {
    flex-wrap: nowrap;
  }

  .card {
  }
}
